In [19]:
from itertools import combinations

import pandas as pd
import numpy as np
df=pd.read_csv('./res/selected_features_lasso.csv')
print (df)

    Moda  Wolny_czas__spie  Sniadanie__nie  Zajecie__Czytanie  Paznokcie__nie  \
0      0             False           False              False           False
1      2              True           False              False            True
2      0             False           False              False           False
3      0              True           False              False           False
4      0             False           False              False           False
5      2              True            True              False            True
6      2             False           False               True           False
7      2             False           False               True            True
8      0             False            True              False            True
9      0              True           False              False           False
10     1              True            True              False           False
11     1              True           False              False           False
12     0             False           False              False           False
13     0             False           False               True           False
14     0             False           False              False           False
15     1              True            True              False           False
16     1             False           False               True            True
17     1             False           False              False           False
18     1             False           False              False           False
19     1              True           False              False            True
20     2             False           False              False            True
21     2              True            True              False            True
22     2             False            True              False            True
23     1             False            True              False           False
24     2             False           False               True            True
25     0             False           False               True           False
26     0             False           False              False            True
27     0             False           False              False            True
28     0             False           False              False            True

    Wakacje__Praca
0            False
1             True
2            False
3            False
4            False
5            False
6             True
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21            True
22            True
23           False
24           False
25           False
26           False
27           False
28           False

In [20]:
print(df['Napoj__soki'])

KeyError: 'Napoj__soki'

In [21]:

from scipy.stats import chi2_contingency
from itertools import combinations
from typing import Tuple
def v_cramers(column1,column2)->Tuple[float,float]:
    contingency_table=pd.crosstab(column1,column2)
    chi2, p, _, _ = chi2_contingency(contingency_table)
    n = contingency_table.sum().sum()
    return np.sqrt(chi2 / (n * (min(contingency_table.shape) - 1))),p
def count_categorical_corelations(df:pd.DataFrame)->pd.DataFrame:
    categorical_corelations={}
    categorical_data=df
    print(categorical_data.columns)
    for col1,col2 in combinations(categorical_data.columns,2):
        v,p=v_cramers(df[col1],df[col2])
        categorical_corelations.update({(col1,col2):(v,p)})
    return categorical_corelations

In [22]:
for key,value in count_categorical_corelations(df).items():
    if value[1] < 0.05 :
        print(f'key: {key}, v:{value[0]}, p : {value[1]}')

Index(['Moda', 'Wolny_czas__spie', 'Sniadanie__nie', 'Zajecie__Czytanie',
       'Paznokcie__nie', 'Wakacje__Praca'],
      dtype='object')
key: ('Moda', 'Paznokcie__nie'), v:0.5317664127711332, p : 0.016568615471085683
key: ('Moda', 'Wakacje__Praca'), v:0.648074069840786, p : 0.0022654089148143215

In [75]:
df_dropped=df.drop('',axis=1)

df.to_csv('./res/df_imputed_dropped_klub_sen.csv',index=False)

In [82]:
##### dalej chyba nie bylo uzywane w tym pliku ostatecnzie




df=pd.read_csv('./res/df_imputed_dropped_klub_sen.csv')

print(df.columns)
print(df['Wf'])

df=pd.read_csv('./res/df_imputed_dropped_klub_sen.csv')
def stoi(string:str)->int:
    new_str=''
    for character in string:
        if character.isnumeric():
            new_str+=character
        else: 
            break
    return int(new_str)
df['Wf']=df['Wf'].apply(stoi)
print(df['Wf'])

Index(['Moda', 'Muzyka', 'Film', 'Sport_u', 'Sport_o', 'Komputer', 'Samochod',
       'Literatura', 'Smak', 'Wolny_czas', 'Miasto', 'Kraj', 'Wzrost', 'Włosy',
       'Okulary', 'Przedmiot', 'Gra', 'Wf', 'Sniadanie', 'Kino_teatr', 'Pora',
       'Ksiazki', 'Gotowanie', 'Zajecie', 'Media_u', 'Technologie',
       'Powietrze', 'Fryzura', 'Media_k', 'Paznokcie', 'Wakacje',
       'Rod_prz_sam', 'gry_czas', 'Jedzenie', 'Wartosc', 'Napoj', 'Dom',
       'Zwierzak', 'Plec'],
      dtype='object')
0      2h
1     0 h
2      1h
3      2h
4      1h
5      2h
6      1h
7      1h
8      1h
9      2h
10     2h
11    0 h
12     1h
13     1h
14     1h
15     1h
16     1h
17     1h
18     1h
19     1h
20    0 h
21    0 h
22    0 h
23     2h
24     1h
25     1h
26     1h
27     1h
28     2h
Name: Wf, dtype: object
0     2
1     0
2     1
3     2
4     1
5     2
6     1
7     1
8     1
9     2
10    2
11    0
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    0
21    0
22    0
23    2
24    1
25    1
26    1
27    1
28    2
Name: Wf, dtype: int64

In [86]:
print(df['Wzrost'])

0     174.0
1     197.5
2     186.0
3     186.0
4     183.0
5     185.0
6     169.0
7     159.0
8     167.0
9     170.0
10    188.0
11    167.0
12    165.0
13    169.0
14    172.0
15    173.0
16    167.0
17    183.0
18    173.0
19    181.0
20    176.0
21    183.0
22    183.0
23    178.0
24    175.0
25    173.0
26    168.0
27    195.0
28    187.0
Name: Wzrost, dtype: float64

In [87]:
print(df.select_dtypes(include=['int64','float64']).corr())

         Wzrost       Wf
Wzrost  1.00000  0.04406
Wf      0.04406  1.00000

In [90]:
from scipy.stats import spearmanr
from scipy.stats import kendalltau
correlaction=kendalltau(df['Wf'],df['Wzrost'])
print(correlaction)

SignificanceResult(statistic=np.float64(0.11761440524906099), pvalue=np.float64(0.4407089637046232))

In [97]:
print(df.columns)
def chi2_significance(df:pd.DataFrame)->{}:
    significances={}
    for column in df.select_dtypes(include=['object']).columns:
        contingency_table=pd.crosstab(df[column],df['Moda'])
        chi2, p, _, _ = chi2_contingency(contingency_table)
        significances[column]=(float(chi2),float(p))
    return significances

Index(['Moda', 'Muzyka', 'Film', 'Sport_u', 'Sport_o', 'Komputer', 'Samochod',
       'Literatura', 'Smak', 'Wolny_czas', 'Miasto', 'Kraj', 'Wzrost', 'Włosy',
       'Okulary', 'Przedmiot', 'Gra', 'Wf', 'Sniadanie', 'Kino_teatr', 'Pora',
       'Ksiazki', 'Gotowanie', 'Zajecie', 'Media_u', 'Technologie',
       'Powietrze', 'Fryzura', 'Media_k', 'Paznokcie', 'Wakacje',
       'Rod_prz_sam', 'gry_czas', 'Jedzenie', 'Wartosc', 'Napoj', 'Dom',
       'Zwierzak', 'Plec'],
      dtype='object')

In [99]:
significances=chi2_significance(df)

Moda : (87.0, 6.498094776442212e-15)
Samochod : (25.68257575757576, 0.041494476617433544)
Wolny_czas : (21.82323232323232, 0.03954937731280141)
Pora : (17.52382920110193, 0.04111752751958173)
Zajecie : (18.634297520661157, 0.028488307277871095)
Media_k : (13.48939393939394, 0.03589013622505964)
Paznokcie : (12.780976835664337, 0.005135010942132214)
Wakacje : (17.465909090909093, 0.007715177587652727)
Zwierzak : (27.6112012987013, 0.0011074595387860105)

In [104]:
significant_columns=[]
for key,value in significances.items():
    if value[1]<0.5: significant_columns.append(key)

In [107]:
for column in significant_columns:
    print(df[column].value_counts())
    print()

Moda
Casual             11
nie dbam o mode     8
Elegancki           8
Sportowy            2
Name: count, dtype: int64

Muzyka
hip-hop      8
pop          8
Rock         6
Klasyczna    4
punk         1
Jazz         1
dance        1
Name: count, dtype: int64

Sport_u
silownia (fitness)    15
siatkowka              5
plywanie               4
pilka nozna            3
tenis                  2
Name: count, dtype: int64

Samochod
Audi       10
BMW         7
Toyota      6
Ford        3
Citroen     2
Fiat        1
Name: count, dtype: int64

Literatura
powiesc        18
opowiadanie     8
esej            2
bajka           1
Name: count, dtype: int64

Wolny_czas
spaceruje            9
spie                 9
czytam               9
ide do kina          1
ogladam telewizje    1
Name: count, dtype: int64

Kraj
Polska               12
Japonia               7
Niemcy                5
Stany Zjednoczone     3
Australia             2
Name: count, dtype: int64

Włosy
szatyn    14
blond     10
czarny     2
biale      2
siwe       1
Name: count, dtype: int64

Gra
strategiczne    10
strzelanki       6
logiczne         6
przygodowe       5
karciane         2
Name: count, dtype: int64

Sniadanie
tak    22
nie     7
Name: count, dtype: int64

Kino_teatr
nie    19
tak    10
Name: count, dtype: int64

Pora
wiosna    11
lato      10
zima       6
jesien     2
Name: count, dtype: int64

Ksiazki
ksiazki papierowe    21
ebooki                7
nie czytam            1
Name: count, dtype: int64

Zajecie
sluchanie muzyki    11
Gry komputerowe      6
Sport                6
Czytanie             6
Name: count, dtype: int64

Media_u
Instagram     12
TikTok         9
nie uzywam     4
Facebook       4
Name: count, dtype: int64

Technologie
tak    22
nie     7
Name: count, dtype: int64

Powietrze
Codziennie               15
Kilka razy w tygodniu    13
Rzadko                    1
Name: count, dtype: int64

Media_k
Codziennie               20
Kilka razy w tygodniu     6
Rzadko                    3
Name: count, dtype: int64

Paznokcie
tak    16
nie    13
Name: count, dtype: int64

Wakacje
Podrozowanie         22
Praca                 4
Odpoczynek w domu     3
Name: count, dtype: int64

Rod_prz_sam
Przyjaciele    19
Rodzina         7
samotnie        3
Name: count, dtype: int64

gry_czas
Rzadko                   12
Kilka razy w tygodniu     9
Codziennie                5
Raz w tygodniu            3
Name: count, dtype: int64

Jedzenie
Kuchnia miedzynarodowa    16
Domowe jedzenie           11
Fast food                  2
Name: count, dtype: int64

Wartosc
Przyjazn    10
Rodzina      9
Kariera      7
zdrowie      3
Name: count, dtype: int64

Napoj
woda                        18
soki                         4
herbata                      4
kawa                         2
kolorowe napoje gazowane     1
Name: count, dtype: int64

Zwierzak
kot                             14
pies                            12
maly gryzon (kawia, mysz...)     2
krolik                           1
Name: count, dtype: int64

Plec
mezczyzna    15
kobieta      14
Name: count, dtype: int64

In [108]:
print(df['Moda'].value_counts())

Moda
Casual             11
nie dbam o mode     8
Elegancki           8
Sportowy            2
Name: count, dtype: int64

In [ ]:
df_dropped=df.drop('',axis=1)